
/* ===== STATIC SITE BACKGROUND ===== */

/* затемнение */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.75);
  z-index: -1;
  pointer-events: none;
}

/* сам фон */
body::after {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -2;
  pointer-events: none;

  background: url('/site-bg.jpg') top center no-repeat;
  background-size: 1500px auto;
  background-color: #0d0d0d;
}

/* большие мониторы */
@media (min-width: 1400px) {
  body::after {
    background-size: 1800px auto;
  }
}

/* мобильные */
@media (max-width: 768px) {
  body::after {
    background-size: background-size: 110% auto;
    background-position: top center;
  }
}
